{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
	{{the_script|safe}}
	{% block positionhead %}{% endblock %}
{% endblock %}

{% block content %}
	<div class="summary dashboard">
		<h2>{{positions}}</h2> <p>positions with</p>
		<h2>{{tasks}}</h2> <p>activities grouped into </p>
		<h2>{{clusters}}</h2> <p>tasks.</p>
	</div>
	{{ the_div | safe }}

{% block position %}{% endblock %}

{% endblock %}

